<body class="bg-custom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="mt-4" style="cursor: pointer;" routerLink="/">
                    
                </div>
            </div>
            <div class="col-md-4 text-center mt-5 p-3 title">
                Quick Draw Recogniser Game
            </div>
            <div  class="col-md-4"></div>
        </div>
    
        <div class="row mt-5 p-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-center select mx-3 mt-5" routerLink="/home">
                    <!-- button -->
                 Let's get started
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    
       
    
        
    </div>
    <footer class="desc">
        <p>Project made by <a href="/" target="_blank" style="font-style: italic;">Apurva Shelar</a>
            and <a href="/" target="_blank" style="font-style: italic;">Shravani Pattewar</a>
            <br>Electronics & Telecommunication Student, VIIT.</p>
    </footer>
</body>

